# How to calculate summary statistics?

Follow along with this [article](https://pandas.pydata.org/pandas-docs/stable/getting_started/intro_tutorials/06_calculate_statistics.html)

First thing we want to do is to import the pandas library.

In [ ]:
# import the pandas library and use the alias 'pd'
import pandas as pd

We are going to be working with the titanic dataset found [here.](https://github.com/pandas-dev/pandas/blob/master/doc/data/titanic.csv) It is in csv format and consists fo the following data columns:


- PassengerId: Id of every passenger.
- Survived: This feature have value 0 and 1. 0 for not survived and 1 for survived.
- Pclass: There are 3 classes: Class 1, Class 2 and Class 3.
- Name: Name of passenger.
- Sex: Gender of passenger.
- Age: Age of passenger.
- SibSp: Indication that passenger have siblings and spouse.
- Parch: Whether a passenger is alone or have family.
- Ticket: Ticket number of passenger.
- Fare: Indicating the fare.
- Cabin: The cabin of passenger.
- Embarked: The embarked category.

Let's load the data into a data frame and check what the data looks like.

In [ ]:
#read titantic data set into a data frame
titanic = pd.read_csv("data/titanic.csv")

#although we listed the column names above, write the code to return the name of all of your columns in the dataset
titanic.columns

In [ ]:
# print the first 5 rows from the dataframe
titanic.head()